<div id="home">
  <div id="menuadminitrador">
	   	  <%= link_to '', alterar_deletar_agendas_path, :class => "alteraragenda" %>	
	   	  <%= link_to '', alterar_deletar_parceiros_path, :class => "alterarparceiro" %>	
        <%= link_to '', alterar_deletar_novidades_path, :class => "alterarnovidade" %>	
        <%= link_to '', alterar_deletar_recados_path, :class => "alterarrecado" %>	
	</div>
	
	<%= link_to '', root_path, :class => "voltar"%>
	
</div>	 

