<div id="home">
  <div id="menuadminitrador">
	  <%= link_to '', agendas_path, :class => "consultaragenda" %>
	  <%= link_to '', parceiros_path, :class => "consultarparceiro" %>
	  <%= link_to '', novidades_path, :class => "consultarnovidade" %>
	  <%= link_to '', recados_path, :class => "consultarrecado" %>
	</div>
	
	<%= link_to '', root_path, :class => "voltar"%>
	
</div>	
