<h1>Agendas cadastradas</h1>

<table>
  <tr>
    <th>Data</th>
    <th>Descricao</th>
    <th>Horario</th>
    <th>Tipo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  

<% @agendas.each do |agenda| %>
  <tr>
    <td><%= agenda.data %></td>
    <td><%= agenda.descricao %></td>
    <td><%= agenda.horario %></td>
    <td><%= agenda.tipo %></td>
    <td><%= link_to 'Show', agenda %></td>
    <td><%= link_to 'Edit', edit_agenda_path(agenda) %></td>
    <td><%= link_to 'Destroy', agenda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Agenda', new_agenda_path %>
