<div id="agenda">
  <h2><b>Agendas</b> cadastradas</h2><br/>

  <div id = "relatorioagenda">
    <table>
      <tr>
        <th>Data</th>
        <th>Descrição</th>
        <th>Horário</th>
        <th>Tipo</th>
      </tr>
      

    <% @agendas.each do |agenda| %>
      <tr>
        <td><%= agenda.data.to_s_br %></td>
        <td><%= agenda.descricao %></td>
        <td><%= agenda.horario %></td>
        <td><%= agenda.tipo %></td>
      </tr>
    <% end %>
    </table>
   
   </div>
    
</div>

   <%= link_to '', consultar_relatorio_administracoes_path, :class => "voltar"%>
