<div id="novidadeadmin">
  <h2><b>Recados</b> cadastrados</h2><br/>

  <div id = "relatorionovidade">
    <table>
      <tr>
        <th>Nome</th>
        <th>Recado</th>
        <th>Data</th>
        <th></th>
      </tr>
      

    <% @recados.each do |recado| %>
      <tr>
        <td><%= recado.usuario.nome %></td>
        <td><%= recado.recado %></td>
        <td><%= recado.data.to_s_br %></td>
        <td class="tabelatamanho"><%= link_to '', edit_recado_path(recado), :class=> "editar"%>
            <%= link_to '', recado, confirm: 'Deseja realmente apagar?', method: :delete, :class=>"deletar" %>
        </td>
      </tr>
    <% end %>
    </table>
   
   </div>
    
</div>

   <%= link_to '', alterar_deletar_administracoes_path, :class => "voltar"%>
