<div id="fotos"> 
  <h2><b>Fotos</b> Pagode Multishow</h2><br/>
	<p> Veja todos as fotos que foram tiradas no Pagode Multishow.</p><br>
	
	
	
	  <div class="conteinerfoto">
	  	<img src="/assets/fotos/voce_pedi/foto_editada.jpg"/><br>
	    <h6><%= link_to "Pagode Multishow - Você pede que eu do - Niver Dona Ivonete", voce_pedi_fotos_path %></h6>
		</div>
	
	
	  <div class="conteinerfoto">
	  	<img src="/assets/fotos/retorno2012/foto_editada.jpg"/><br>
	    <h6><%= link_to "Retorno do Pagode Multishow em 2012", retorno2012_fotos_path %></h6>
		</div>
		
		
	  <div class="conteinerfoto">
	  	<img src="/assets/fotos/fotos2011/foto_editada.jpg"/><br>
	    <h6><%= link_to "Melhores fotos de 2011 no Pagode Multishow", fotos2011_fotos_path %></h6>
		</div>
		
		
	  <div class="conteinerfoto">
	  	<img src="/assets/fotos/retorno2011/foto_editada.jpg"/><br>
	    <h6><%= link_to "Retorno do Pagode Multishow em 2011", retorno2011_fotos_path %></h6>
		</div>
		
		
	  <div class="conteinerfoto">
	  	<img src="/assets/fotos/wandinho/foto_editada.jpg"/><br>
	    <h6><%= link_to "Saudades eternas do nosso amigo Dj Wandinho", wandinho_fotos_path %></h6>
		</div>
		
		

</div>
